* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
body {
    background: #181818;
    color: #fff;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;
}

/*botonHamburger*/
#nav {
  transition: all ease-in-out 1s;
  background: #242424;
  border-bottom: 2.5px solid #00b418;
  padding: 10px 20px;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
font-family: 'Quicksand', sans-serif;
line-height: 1.6;
}

nav ul {
  position: absolute;
  top: 45px;
  left: 0;
  background: #242424;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path .8s ease-out;
  z-index: 50;
  text-decoration: none;
  margin-top: 10px;

}

nav ul .opciones {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 80;
}

nav ul .opciones li {
  width: 180px;
  margin: 20px 0;
  list-style: none;
}

nav ul .opciones li a {
  color: #e5d8bf;
  padding: 10px 30px;
  border-bottom: 2px solid transparent;
  transition: all ease-in .8s;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}

nav ul .opciones li a:hover {
  border-bottom: 2px solid #00b418;
  color: #f1f1f1;
}

nav .menu {
  display: inline-block;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 20;
  cursor: pointer;
}

nav .menu span {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  display: block;
  position: absolute;
  background: #fff;
  transition: all 0.25s ease;
  transform-origin: 0px 100%;
}

nav .menu span:nth-child(2) {
  top: calc(50% - 2px);
}

nav .menu span:nth-child(3) {
  bottom: 0;
}

.animacionMenu span:nth-child(1) {
  transform: rotate(45deg) translate(-2px, 1px);
}

.animacionMenu span:nth-child(2) {
  opacity: 0;
}

.animacionMenu span:nth-child(3) {
  transform: rotate(-45deg) translate(-3px, 3px);
}

.activeMenu {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@media screen and (min-width: 768px) {
  nav ul {
      position: initial;
      clip-path: none;
  }

  nav ul .opciones {
      flex-direction: row;
      justify-content: flex-end;
  }

  nav ul .opciones li {
      margin: 0 10px;
      width: auto;
  }

  nav ul .opciones li a {
      margin: 0;
      padding: 0;
  }

  nav .menu {
      display: none;
  }
}

@media screen and (min-width: 1024px) {
  nav {
      height: 70px;
  }

  nav ul .opciones li {
      width: 120px;
  }

  nav ul .opciones li a {
      font-weight: bold;
      letter-spacing: 1.2px;
      padding: 2px 10px;
  }

  nav .menu {
      display: none;
  }
}


/*Contact*/
.content{
    display: block;
    height: 45px;
    margin-top: 60px;
    
}


.logo {
    text-align: center;
    font-size: 3em;
}

.logo span {
    color: #00b418;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: #222222;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form button{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #00b418;
}
.contact-form input{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #00b418;
    
}

.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid  #00b418;
}

.contact-form form button {
    background:  #00b418;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #024b0e;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* CONTACT INFO */
.contact-info {
    background: #000;
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}
/*-----------------IconSocial---------------------*/
.containerSocial {
    display: flex;
    flex-direction:row;
    width: 10px;
    height: 10px;
    margin-bottom: 10px;
}
.img{
    height: 30px;
}
.containerImg{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    position: absolute;
    left: 300px;
    top: 180px;
}
.imgPerfil{
    height: 250px;
    width: 250px;
    border-radius:50%;
}
@media screen and (min-width: 320px)and (max-width: 425px) {
    
    .containerSocial{
        
        margin-top: 30px;
       margin-left: 20%;
    }
    
    }

/* LARGE SIZE */
@media(min-width: 700px) {
    body {
        padding: 0 4em;
    }
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}