* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #242424;
}

.body {
    background-color: #242424;
}

/*botonHamburger*/
#nav {
    transition: all ease-in-out 1s;
    background: #242424;
    border-bottom: 2.5px solid #00b418;
    padding: 10px 20px;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.6;
}

nav ul {
    position: absolute;
    top: 45px;
    left: 0;
    background: #242424;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path .8s ease-out;
    z-index: 50;
    text-decoration: none;
    margin-top: 10px;

}

nav ul .opciones {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 80;
}

nav ul .opciones li {
    width: 180px;
    margin: 20px 0;
    list-style: none;
}

nav ul .opciones li a {
    color: #e5d8bf;
    padding: 10px 30px;
    border-bottom: 2px solid transparent;
    transition: all ease-in .8s;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

nav ul .opciones li a:hover {
    border-bottom: 2px solid #00b418;
    color: #f1f1f1;
}

nav .menu {
    display: inline-block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 20;
    cursor: pointer;
}

nav .menu span {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    display: block;
    position: absolute;
    background: #fff;
    transition: all 0.25s ease;
    transform-origin: 0px 100%;
}

nav .menu span:nth-child(2) {
    top: calc(50% - 2px);
}

nav .menu span:nth-child(3) {
    bottom: 0;
}

.animacionMenu span:nth-child(1) {
    transform: rotate(45deg) translate(-2px, 1px);
}

.animacionMenu span:nth-child(2) {
    opacity: 0;
}

.animacionMenu span:nth-child(3) {
    transform: rotate(-45deg) translate(-3px, 3px);
}

.activeMenu {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@media screen and (min-width: 768px) {
    nav ul {
        position: initial;
        clip-path: none;
    }

    nav ul .opciones {
        flex-direction: row;
        justify-content: flex-end;
    }

    nav ul .opciones li {
        margin: 0 10px;
        width: auto;
    }

    nav ul .opciones li a {
        margin: 0;
        padding: 0;
    }

    nav .menu {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    nav {
        height: 70px;
    }

    nav ul .opciones li {
        width: 120px;
    }

    nav ul .opciones li a {
        font-weight: bold;
        letter-spacing: 1.2px;
        padding: 2px 10px;
    }

    nav .menu {
        display: none;
    }
}

.container {
    height: 550px;
    margin-top: 55px;
    box-shadow: 0px 0px 20px 20px rgba(16, 99, 5, 0.3);
}

#row {
    padding: 0%;
    height: 550px;
}

#containerTitulo {
    background-color: #242424;
    height: 50px;
}

.title {
    display: flex;
    justify-content: center;

    color: #e5d8bf;
}

.span {

    margin-top: 2px;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    color: #242424;
    -webkit-text-stroke: #3a3a3a;
    text-transform: uppercase;
}

.span::before {
    content: attr(data-text);
    position: absolute;
    height: 45px;
    color: #00b418;
    -webkit-text-stroke: #3a3a3a;

    overflow: hidden;
    animation: animate 4s linear infinite;
}

@keyframes animate {

    0%,
    10%,
    100% {
        width: 0%;
    }

    70%,
    100% {
        width: 380px;
    }

}

@media screen and (max-width: 455px) {
    .title {
        font-size: 15px;
        margin-top: 5px;
        color: #e5d8bf;
    }

    .span {
        display: flex;

        font-size: 15px;
        margin-bottom: 2px;
        font-family: 'Poppins', sans-serif;
        color: #242424;
        -webkit-text-stroke: #3a3a3a;
        text-transform: uppercase;
    }

    .span::before {
        content: attr(data-text);
        position: absolute;
        height: 20px;
        color: #00b418;
        -webkit-text-stroke: #3a3a3a;
        overflow: hidden;
        animation: animate 4s linear infinite;
    }

    @keyframes animate {

        0%,
        10%,
        100% {
            width: 0%;
        }

        70%,
        100% {
            width: 180px;
        }

    }

}




#redes {
    background-color: #242424;
    height: 500px;
}


#info {
    background-color: #242424;
    height: 500px;
}

.contenedorParrafo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;

}

/*-----------------IconSocial---------------------*/
.containerSocial {
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 45%;
    margin-top: 50%;
}

.img {
    height: 30px;
}

.containerImg {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 35%;
    z-index: 9999;
    left: 300px;
    top: 180px;

}

.imgPerfil {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}


#parrafo {
    font-family: 'Kalam', cursive, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 25px;

}

#botonDescarga {
    text-decoration: none;
    border-color: #45dd5a;
    background-color: #00b418;
    color: #150c41;
    font-size: 20px;
    height: 40px;
    transition: background-color, color, .9s;
    font-weight: bold;
}

#botonDescarga:hover {
    background-color: rgb(2, 48, 10);
    color: #e5d8bf;

}

@media screen and (min-width: 320px)and (max-width: 425px) {
    #redes {
        width: 100%;
        height: 230px;

    }

    .imgPerfil {
        width: 150px;
        height: 150px;

    }

    .containerImg {
        margin-top: 10px;
    }

    .containerSocial {

        margin-top: 30px;
        margin-left: 45%;
    }

    #info {
        width: 100%;
        height: 550px;

    }

    #botonDescarga {
        width: 150px;
        margin-left: 20%;
    }

    .contenedorParrafo {
        margin-top: 0;
    }

    #parrafo {
        width: 100%;
        font-size: 20px auto;
        margin: 25px 0px;
        display: flex;
        justify-content: center;
    }
}

@media screen and (width: 768px) and (max-width: 800px) {
    .contenedorParrafo {
        display: flex;
        margin: 0;
        height: 400px;
    }

    .container {
        height: 100%;
    }

    #redes {
        height: 500px;
    }

    #info {
        height: 500px;
    }

    .containerSocial {
        height: 30px;
        width: 30px;
        margin-right: 50%;
    }
}

@media screen and (min-width: 1330px) {
    .imgPerfil {
        width: 250px;
        height: 250px;

    }

    .containerImg {
        margin-top: 100px;
    }

    .containerSocial {
        height: 30px;
        width: 30px;
        margin-right: 50%;
        margin-top: 40%;
    }
}