@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600&display=swap");



html {
   scroll-behavior: smooth;
}

body {
   font-family: "Urbanist", sans-serif;
   font-size: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   padding: 4rem 0;
   background-color: #242424;
}


/*botonHamburger*/
#nav {
    transition: all ease-in-out 1s;
    background: #242424;
    border-bottom: 2.5px solid #00b418;
    padding: 10px 20px;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 900;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.6;
}

nav ul {
    position: absolute;
    top: 45px;
    left: 0;
    background: #242424;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path .8s ease-out;
    z-index: 50;
    text-decoration: none;
    margin-top: 10px;

}

nav ul .opciones {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 80;
}

nav ul .opciones li {
    width: 180px;
    margin: 20px 0;
    list-style: none;
}

nav ul .opciones li a {
    color: #e5d8bf;
    padding: 10px 30px;
    border-bottom: 2px solid transparent;
    transition: all ease-in .8s;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

nav ul .opciones li a:hover {
    border-bottom: 2px solid #00b418;
    color: #f1f1f1;
}

nav .menu {
    display: inline-block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 20;
    cursor: pointer;
}

nav .menu span {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    display: block;
    position: absolute;
    background: #fff;
    transition: all 0.25s ease;
    transform-origin: 0px 100%;
}

nav .menu span:nth-child(2) {
    top: calc(50% - 2px);
}

nav .menu span:nth-child(3) {
    bottom: 0;
}

.animacionMenu span:nth-child(1) {
    transform: rotate(45deg) translate(-2px, 1px);
}

.animacionMenu span:nth-child(2) {
    opacity: 0;
}

.animacionMenu span:nth-child(3) {
    transform: rotate(-45deg) translate(-3px, 3px);
}

.activeMenu {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@media screen and (min-width: 768px) {
    nav ul {
        position: initial;
        clip-path: none;
    }

    nav ul .opciones {
        flex-direction: row;
        justify-content: flex-end;
    }

    nav ul .opciones li {
        margin: 0 10px;
        width: auto;
    }

    nav ul .opciones li a {
        margin: 0;
        padding: 0;
    }

    nav .menu {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    nav {
        height: 70px;
    }

    nav ul .opciones li {
        width: 120px;
    }

    nav ul .opciones li a {
        font-weight: bold;
        letter-spacing: 1.2px;
        padding: 2px 10px;
    }

    nav .menu {
        display: none;
    }
}
.titulo{
    color: #00b418;
    display: flex;
    justify-content: center;
}



.img-box img {
   display: block;
   width: 100%;
   height: 30rem;
   object-fit: cover;
}

.grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-content: center;
   grid-gap: 2rem;
   text-align: center;
   width: 90%;
   margin: auto;
   
}

.card {
   display: block;
   overflow: hidden;
   border-radius: 0.6rem;
   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
   transition: 0.2s;
  
}

.card-content {
   position: absolute;
   background-color: rgb(0 0 0 / 50%);
   color: #ffffff;
   bottom: 0;
   width: 100%;
   height: 20%;
   padding: 2.2rem 0;
   overflow: hidden;
   transition: 0.7s;
}
.card-content h1 {
   font-size: 2rem;
   font-weight: 600;
   text-transform: capitalize;
}

.card-content p {
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5rem;
   padding: 1.2rem;
}

.card-content:hover {
   height: 40%;
   transition: 0.7s;
}

/* ========== RESPONSIVE ========== */
/* for tablet */
@media screen and (max-width: 1024px) {
   .grid {
      grid-template-columns: repeat(2, 1fr);
   }
}
/* for mobile */
@media screen and (max-width: 767px) {
   .grid {
      grid-template-columns: 1fr;
   }
}
#botonDescarga {
    text-decoration: none;
    border-color: #45dd5a;
    background-color: #00b418;
    color: #150c41;
    font-size: 20px;
    height: 40px;
    
    transition: background-color, color, .9s;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 50%;
}
#botonDescarga:hover {
    background-color: rgb(2, 48, 10);
    color: #e5d8bf;

}