.slider{
    width: 40vw;
    height: 50px;
    margin: auto;
    overflow: hidden;
    margin-top: 25px;
    
}

.slider .slide-track{
display: flex;
animation: scroll 50s linear infinite;
-webkit-animation: scroll 50s linear infinite;
width: calc(48px * 24);
}

.slider .slide {
    width: 48px;
   display: flex;
}

.slide .slide img {
    width: 48px;
    height: 100px;
    
    
}

@keyframes scroll {
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-48px * 12));
        transform: translateX(calc(-48px * 12));
    }
}