* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedorGeneral {
    display: flex;
    height: 800px;
    width: 100%;
    background-color: aqua;
    flex-wrap: wrap;

}

.header {

    background: linear-gradient(30deg, rgb(11, 1, 151), rgb(0, 194, 228));
    height: 250px;
    width: 100%;
    border: 3px solid black;
}

h5 {
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;

}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.contenedor_parrafo {
    display: flex;
    width: 50%;
    border: rgb(0, 0, 0) solid;
    border-radius: 20px;
    color: aliceblue;
    flex-direction: row;
    background: linear-gradient(30deg, rgb(11, 1, 151), rgb(0, 194, 228));
    justify-content: center;
    margin: 50px auto;
    height: 500px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0.2);
}


.contenido {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 40px;
    flex-wrap: nowrap;
}

.contenido .titulo {
    margin: 20px auto;

}



















@media (min-width: 360px) {
    .header {
        background: linear-gradient(30deg, rgb(0, 194, 228), rgb(11, 1, 151));
        height: 30vh;

    }


    h5 {
        font-size: 5vh;
        margin-top: 10vh;
    }


    .datosPersonales {
        position: inherit;
    }

.contenedor_parrafo {
width: 350px;
height: 500px;

}

}