* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
.containerGral {
display: flex;
background-color: black;
}
.ContainerGreen {
    background-color: rgba(7, 124, 13, 0.877);
    height: 639px;
    width: 450px;
    border: 1px solid rgb(85, 85, 85);
    flex-wrap: nowrap;
}
.ContainerBlack {
    background-color: rgba(28, 63, 49, 0.877);
    height: 639px;
    width: 940px;
    border: 1px solid rgb(85, 85, 85);
}
.containerTitle{
    margin-left: 150px;
    margin-top: 150px;
}
.subTitle {
   color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}
.title { 
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}
.parrafo{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
align-items: center;
width: 600px;
margin-left: 150px;
margin-top: 30px;
color: #fff;
font-size: 18px;
}
/*-----------------IconSocial---------------------*/
.containerSocial {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction:row;
    align-items: flex-end;
    margin-top: 600px;
    margin-left: 280px;
}
.img{
    height: 30px;
}
.containerImg{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    position: absolute;
    left: 300px;
    top: 180px;
}
.imgPerfil{
    height: 250px;
    width: 250px;
    border-radius:50%;
}
/*botonHamburger*/
.menu {
    background:rgba(28, 63, 49, 0.877);
    border-radius: 50%;
    bottom: 25px;
    box-shadow: 0 0 0 0 , 0 0 0 0 ;
    cursor: pointer;
    height: 60px;
    position: absolute;
    right: 25px;
    transition: box-shadow 1.1s cubic-bezier(.19, 1, .22, 1);
    width: 60px;
    z-index: 2;
}

.menu:hover {
    box-shadow: 0 0 0 8px rgba(7, 124, 13, 0.877), 0 0 0 8px rgba(7, 124, 13, 0.877);
}

.hamburger {
    position: relative;
    top: 29px;
    left: 15px;
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;
}

.hamburger:after,
.hamburger:before {
    background: #000;
    content: "";
    display: block;
    transition: .5s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    bottom: -10px;
}

#navbar {
    display: none;
}

input:checked ~ label .menu {
    box-shadow: 0 0 0 130vw rgba(7, 124, 13, 0.877), 0 0 0 130vh rgba(7, 124, 13, 0.877);
}

input:checked ~ label .hamburger {
    transform: rotate(45deg);
}

input:checked ~ label .hamburger:after {
    transform: rotate(90deg);
    bottom: 0;
}

input:checked ~ label .hamburger:before {
    transform: rotate(90deg);
    top: 0;
}

input:checked ~ ul {
    opacity: 1;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    font-size: 20px;
    opacity: 0;
    transition: .25s .1s cubic-bezier(0, 1.07, 0, 1.02);
    z-index: 2;
}

li a {
    color: #ffffff;
    transition: all 300ms;
    position: relative;
    font-size: 25px;
    text-decoration: none;
}
li a:hover {
    color: #023a13;
}












@media (min-width: 350px) {
   
}
@media (min-width: 730px) {}