* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedorGeneral {
    display: flex;
    height: 800px;
    width: 100%;
    background-image:url(./imagenes/codigo.jpg);
    flex-wrap: wrap;

}

.header {
    
    background-color: rgba(1, 28, 77, 0.877);
    height: 250px;
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;

}

h5 {
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    color: #fff;

}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
}


.contenedorGeneral .navbar{
    border-radius: 20px;
    background-color: rgba(1, 28, 77, 0.877);
    border: solid 1px black;
    
}


.contenedor_parrafo {
    display: flex;
    width: 50%;
    border: rgb(0, 0, 0) solid 1px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    flex-direction: row;
    background-color: rgba(1, 28, 77, 0.877);
    justify-content: center;
    margin: 50px auto;
    height: 500px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0.2);
    
}


.contenido {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 40px;
    flex-wrap: nowrap;
}

.contenido .titulo {
    margin: 20px auto;

}






/*-----------------footer---------------------*/

footer {
    position: flex;
    max-height: 30rem;
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*background-color: var(--dark);*/
    color: rgb(255, 255, 255);
    /*background: linear-gradient(30deg, rgb(11, 1, 151), rgb(0, 194, 228));*/
    background-color: rgba(1, 28, 77, 0.877);
}

.copyright-container {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(255, 255, 255);
}

.copyright {
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    padding: 10px 0;
}


.footer-container {
    height:fit-content;
    width: 100%;
    padding: 3rem 6rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-content-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

footer .subtitle {
    display: flex;

}












@media (min-width: 350px) {
    .header {
        /*background: linear-gradient(30deg, rgb(0, 194, 228), rgb(11, 1, 151));*/
        height: 30vh;

    }


    h5 {
        font-size: 5vh;
        margin-top: 10vh;
    }


    .datosPersonales {
        position: inherit;
    }

.contenedor_parrafo {
width: 350px;
height: 500px;

}

}